<!doctype html>
<html lang="pt-br">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="static/cadastro_vacina_paciente.css">

<title>Dashboard - Vacine Já</title>
</head>

<body>
    <section class="container-fluid banner-seringas">
        <div class="container dashboard">
            <!-- Nav pills -->
<ul class="nav nav-pills mt-4 d-flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#Agendamentos">Agendamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#Notificacoes">Notificações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#CadastroCliente">Cadastro Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#CarteiraVacina">Carteira de Vacina</a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="wrapper">
      <div class="tab-content">
        <div class="tab-pane container active" id="Agendamentos">
            <!-- <h3 class="text-center mt-10">Agendamentos</h3> -->
            <form class="form">
                <p class="title">Agendamentos </p>
                <p class="message">Registro de compromissos </p>
                    <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>Vacina</span>
                    </label>
      
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>Fabricante</span>
                    </label>
                </div>
      
                <label>
                    <input required="" placeholder="" type="text" class="input">
                    <span>Local</span>
                </label>
      
                <label>
                    <input required="" placeholder="" type="date" class="input">
                    <span></span>
                </label>
                <button class="submit">Registrar</button>
            </form>
        </div>
        <div class="tab-pane container fade" id="Notificacoes">
            <p class="title">Notificações Gerais</p>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Tipo de Vacina</th>
                    <th>UBS mais próxima</th>
                    <th>Faixa etátia</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hepatite</td>
                    <td>Dr Geromel</td>
                    <td>14 - 50</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Influenza</td>
                    <td>Egn Miguel Filho</td>
                    <td>Todas</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Febre Amarela</td>
                    <td>Maria Ada</td>
                    <td>11 - 49</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning">Editar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
      
        </div>
        <div class="tab-pane container fade" id="CadastroCliente">.vacina.</div>
        <div class="tab-pane container fade" id="CarteiraVacina">
            <p class="title">Procurar carteira </p>
            <form class="form">
                <p class="message">Buscar por documento de identificação único:</p>
                    <div class="flex">
                    <label>
                        <input required="" placeholder="" type="text" class="input">
                        <span>CPF</span>
                    </label>
                </div>
                </form>
        </div>
      </div>
            </div>
  </div>
    </section>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>

</html>
