<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/recuperar_senha.css">

    <title>Vacine Já - Recuperar Senha</title>
</head>

<body>
    <section class="py-4 container sessao-banner">
        <div class="d-flex justify-content-center align-items-center">
            <div class="cont row mx-0">
                <div class="col border-2 rounded p-3 cadastro-card">
                    <img class="img-fluid w-100" src="images/logo.png" alt="">
                    <h3 class="fw-bold text-center p-3">Vacine Já - Recuperar Senha</h3>
                    <form id="contato">
                        <div class="form-floating mb-3">
                            <p>Digite o seu email cadastrado para redefinir sua senha</p>
                            <label for="floatingEmail">Email</label>
                            <input type="email" class="form-control" id="floatingEmail"
                                placeholder="exemplo123@exemplo.com">
                        </div>
                    <button type="button" class="btn btn-success w-100 fw-bold mt-3 py-3">Recuperar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </main>
</body>























